.wrapper {
    margin: 1rem auto 0;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 420px) {
    .wrapper {
        width: 300px;
    }
}

@media screen and (max-width: 330px) {
    .wrapper {
        width: 200px;
    }
}